In [3]:
import pandas as pd

ruta_archivo_json = 'C:\\Users\\ROXI\\OneDrive\\Escritorio\\henry\\pi\\PI01_DATA03\\Datasets\\drivers.json'
datos = pd.read_json(ruta_archivo_json,  lines=True)
datos

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,"{'forename': 'Pietro', 'surname': 'Fittipaldi'}",1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,"{'forename': 'Jack', 'surname': 'Aitken'}",1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,\N,TSU,"{'forename': 'Yuki', 'surname': 'Tsunoda'}",2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,\N,MAZ,"{'forename': 'Nikita', 'surname': 'Mazepin'}",1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,\N,SCH,"{'forename': 'Mick', 'surname': 'Schumacher'}",1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher