In [4]:
import pandas as pd

In [ ]:
datos_df=pd.read_csv('C:\\Users\\ROXI\\OneDrive\\Escritorio\\henry\\pi\\PI01_DATA03\\Datasets\\races.csv')

In [4]:
datos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1058 non-null   int64
 1   year       1058 non-null   int64
 2   round      1058 non-null   int64
 3   circuitId  1058 non-null   int64
 4   name       1058 non-null   object
 5   date       1058 non-null   object
 6   time       1058 non-null   object
 7   url        1058 non-null   object
dtypes: int64(4), object(4)
memory usage: 66.2+ KB

In [67]:
raceId_df=datos_df["raceId"].drop_duplicates()

In [68]:
raceId_df

0          1
1          2
2          3
3          4
4          5
        ...
1053    1069
1054    1070
1055    1071
1056    1072
1057    1073
Name: raceId, Length: 1058, dtype: int64

In [ ]:
no existen raceId duplicados

existen 1073 raceId pero tengo 1058 registros

In [9]:
datos_df.isnull().sum()

raceId       0
year         0
round        0
circuitId    0
name         0
date         0
time         0
url          0
dtype: int64

no hay valores faltantes

In [49]:
#convert to lower case
datos_df['url'] = datos_df['url'].str.lower()
# remove trailing white spaces
datos_df['url'] = datos_df['url'].str.strip()

In [50]:
# convert to lower case
datos_df['name'] = datos_df['name'].str.lower()
# remove trailing white spaces
datos_df['name'] = datos_df['name'].str.strip()

In [59]:
s=datos_df['name'].sort_values()

In [60]:
s.unique()

array(['70th anniversary grand prix', 'abu dhabi grand prix',
       'argentine grand prix', 'australian grand prix',
       'austrian grand prix', 'azerbaijan grand prix',
       'bahrain grand prix', 'belgian grand prix', 'brazilian grand prix',
       'british grand prix', 'caesars palace grand prix',
       'canadian grand prix', 'chinese grand prix', 'dallas grand prix',
       'detroit grand prix', 'dutch grand prix', 'eifel grand prix',
       'emilia romagna grand prix', 'european grand prix',
       'french grand prix', 'german grand prix', 'hungarian grand prix',
       'indian grand prix', 'indianapolis 500', 'italian grand prix',
       'japanese grand prix', 'korean grand prix',
       'luxembourg grand prix', 'malaysian grand prix',
       'mexican grand prix', 'mexico city grand prix',
       'monaco grand prix', 'moroccan grand prix', 'pacific grand prix',
       'pescara grand prix', 'portuguese grand prix',
       'russian grand prix', 'sakhir grand prix', 'san marino grand prix',
       'saudi arabian grand prix', 'singapore grand prix',
       'south african grand prix', 'spanish grand prix',
       'styrian grand prix', 'swedish grand prix', 'swiss grand prix',
       'tbc', 'turkish grand prix', 'tuscan grand prix',
       'united states grand prix', 'united states grand prix west'],
      dtype=object)

viendo los registros de la columna name 'united states grand prix', 'united states grand prix west'son diferentes. Hay parecidos pero no duplicados

In [5]:
datos_df['date'].dtype

dtype('O')

In [51]:
# create a new column, date_parsed, with the parsed dates
datos_df['date_parsed']= pd.to_datetime(datos_df['date'], format="%Y/%m/%d")

In [21]:
datos_df['date_parsed'].head()

0   2009-03-29
1   2009-04-05
2   2009-04-19
3   2009-04-26
4   2009-05-10
Name: date_parsed, dtype: datetime64[ns]

In [38]:
array_year= datos_df['date_parsed'].dt.year.unique()

In [39]:
array_year

array([2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 2010, 1989,
       1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978,
       1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967,
       1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956,
       1955, 1954, 1953, 1952, 1951, 1950, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [40]:
datos_df["year"] = datos_df['date_parsed'].dt.year

In [41]:
datos_df["year"]

0       2009
1       2009
2       2009
3       2009
4       2009
        ...
1053    2021
1054    2021
1055    2021
1056    2021
1057    2021
Name: year, Length: 1058, dtype: int64

In [35]:
datos_df["year"].value_counts()

2021    23
2019    21
2016    21
2018    21
2012    20
        ..
1956     8
1957     8
1961     8
1950     7
1955     7
Name: year, Length: 72, dtype: int64

In [58]:
datos_df.to_json('file.json', orient = 'split', compression = 'infer', index = 'true')

In [59]:
datos_df.to_csv('races_.csv', encoding='utf-8', index=False)

In [63]:
df=datos_df[datos_df["year"]==2009]

In [64]:
df

,raceId,year,round,circuitId,name,date,time,url,date_parsed
0,1,2009,1,1,australian grand prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_australian_g...,2009-03-29
1,2,2009,2,2,malaysian grand prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_malaysian_gr...,2009-04-05
2,3,2009,3,17,chinese grand prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_chinese_gran...,2009-04-19
3,4,2009,4,3,bahrain grand prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_bahrain_gran...,2009-04-26
4,5,2009,5,4,spanish grand prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_spanish_gran...,2009-05-10
5,6,2009,6,6,monaco grand prix,2009-05-24,12:00:00,http://en.wikipedia.org/wiki/2009_monaco_grand...,2009-05-24
6,7,2009,7,5,turkish grand prix,2009-06-07,12:00:00,http://en.wikipedia.org/wiki/2009_turkish_gran...,2009-06-07
7,8,2009,8,9,british grand prix,2009-06-21,12:00:00,http://en.wikipedia.org/wiki/2009_british_gran...,2009-06-21
8,9,2009,9,20,german grand prix,2009-07-12,12:00:00,http://en.wikipedia.org/wiki/2009_german_grand...,2009-07-12
9,10,2009,10,11,hungarian grand prix,2009-07-26,12:00:00,http://en.wikipedia.org/wiki/2009_hungarian_gr...,2009-07-26
10,11,2009,11,12,european grand prix,2009-08-23,12:00:00,http://en.wikipedia.org/wiki/2009_european_gra...,2009-08-23
11,12,2009,12,13,belgian grand prix,2009-08-30,12:00:00,http://en.wikipedia.org/wiki/2009_belgian_gran...,2009-08-30
12,13,2009,13,14,italian grand prix,2009-09-13,12:00:00,http://en.wikipedia.org/wiki/2009_italian_gran...,2009-09-13
13,14,2009,14,15,singapore grand prix,2009-09-27,12:00:00,http://en.wikipedia.org/wiki/2009_singapore_gr...,2009-09-27
14,15,2009,15,22,japanese grand prix,2009-10-04,05:00:00,http://en.wikipedia.org/wiki/2009_japanese_gra...,2009-10-04
15,16,2009,16,18,brazilian grand prix,2009-10-18,16:00:00,http://en.wikipedia.org/wiki/2009_brazilian_gr...,2009-10-18
16,17,2009,17,24,abu dhabi grand prix,2009-11-01,11:00:00,http://en.wikipedia.org/wiki/2009_abu_dhabi_gr...,2009-11-01

las columnas son las mismas para todos los registros

In [65]:
list_kick=pd.Series(datos_df['year'].values)

In [67]:
list_kick

0       2009
1       2009
2       2009
3       2009
4       2009
        ...
1053    2021
1054    2021
1055    2021
1056    2021
1057    2021
Length: 1058, dtype: int64

In [8]:
datos_df1=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Proyecto Individual 1- Data 03- Soy Henry\Proyecto-Individual-1\Datasets\pandas\dataset_procesados\races_.csv')

In [14]:
array_circuitId=pd.DataFrame()

In [27]:
#circuitId de circuito mas recorrido
array_circuitId["c"]=datos_df1['circuitId'].value_counts()
array_circuitId.index[0]

14

In [26]:
#cantidad de veces recorrido
cantidad_carreras=int(array_circuitId.iloc[0].values)
cantidad_carreras

71

In [28]:
circuit_df2=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Proyecto Individual 1- Data 03- Soy Henry\Proyecto-Individual-1\Datasets\pandas\dataset_procesados\circuit_.csv')

In [92]:
registro_de_circuito=circuit_df2[circuit_df2["circuitId"]==14]
nombre_de_circuitor=registro_de_circuito["name"]

In [93]:
nombre_de_circuitor

13    Autodromo Nazionale di Monza
Name: name, dtype: object

Año con más carreras

In [64]:
def contar_año_con_mas_carreras():
    cantidad_carreras=0
    import pandas as pd
    datos_df1=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\henry\pi\PI01_DATA03\Datasets\pandas\races_.csv')
    array_year=datos_df['date_parsed'].dt.year.value_counts()
    cantidad_carreras=array_year.iloc[0]
    return cantidad_carreras

In [66]:
ds=contar_año_con_mas_carreras()
print(ds)

23

In [103]:


def busca_circuito_mas_recorrido():
    import numpy as np
    import pandas as pd

    nombre_de_circuitor=pd.DataFrame()
    registro_de_circuito=pd.DataFrame()
    races_df1=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Proyecto Individual 1- Data 03- Soy Henry\Proyecto-Individual-1\Datasets\pandas\dataset_procesados\races_.csv')
    circuit_df2=pd.read_csv(r'C:\Users\ROXI\OneDrive\Escritorio\Proyecto Individual 1- Data 03- Soy Henry\Proyecto-Individual-1\Datasets\pandas\dataset_procesados\circuit_.csv')
    array_circuitId["c"]=races_df1['circuitId'].value_counts()
    circuitId_mas_recorrido=array_circuitId.index[0]
    
    registro_de_circuito=circuit_df2[circuit_df2["circuitId"]==circuitId_mas_recorrido]
    nombre_de_circuitor=registro_de_circuito["name"]

    
    return nombre_de_circuitor.iloc[0]