In [5]:
import pandas as pd
import json

ruta_archivo_json = 'C:\\Users\\ROXI\\OneDrive\\Escritorio\\henry\\pi\\PI01_DATA03\\Datasets\\results.json'
datos = pd.read_json(ruta_archivo_json, lines=True)
datos

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24961,1047,841,51,99,14,16,16,16,0.0,54,\N,\N,29,7,1:41.675,196.65,11
24956,24962,1047,849,3,6,18,17,17,17,0.0,54,\N,\N,49,16,1:42.497,195.073,11
24957,24963,1047,825,210,20,20,18,18,18,0.0,54,\N,\N,50,13,1:41.999,196.025,11
24958,24964,1047,850,210,51,17,19,19,19,0.0,53,\N,\N,50,8,1:41.707,196.588,12
24959,24965,1047,815,211,11,19,\N,R,20,0.0,8,\N,\N,6,19,1:43.263,193.625,7