In [3]:
import pandas as pd
import json

ruta_archivo_json = 'C:\\Users\\ROXI\\OneDrive\\Escritorio\\henry\\pi\\PI01_DATA03\\Datasets\\results.json'
with open("./Datasets/drivers.json") as archivo:salida = [json.loads(linea) for linea in archivo] drivers = pd.json_normalize(salida, sep="_")
datos = pd.read_json(ruta_archivo_json, lines=True)
#datos.info()
datos1=datos[datos["driverId"]==1]
datos1

#24959

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
26,27,19,1,1,22,9,5,5,5,4.0,56,+46.548,5525103,53,3,1:35.462,209.033,1
56,57,20,1,1,22,3,13,13,13,0.0,56,\N,\N,25,19,1:35.520,203.969,11
68,69,21,1,1,22,5,3,3,3,6.0,66,+4.187,5903238,20,3,1:22.017,204.323,1
89,90,22,1,1,22,3,2,2,2,8.0,58,+3.779,5213230,31,2,1:26.529,222.085,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24840,24846,1042,1,131,44,1,1,1,1,26.0,66,1:29:56.828,5396828,63,1,1:18.750,212.708,1
24860,24866,1043,1,131,44,2,1,1,1,26.0,63,1:28:32.430,5312430,63,1,1:15.484,234.121,1
24880,24886,1044,1,131,44,6,1,1,1,25.0,58,1:42:19.313,6139313,56,6,1:39.413,193.302,1
24900,24906,1045,1,131,44,1,1,1,1,25.0,57,2:59:47.515,10787515,38,3,1:32.864,209.803,1
24942,24948,1047,1,131,44,3,3,3,3,15.0,55,+18.415,5807060,37,5,1:41.420,197.144,1

In [2]:
datos

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24961,1047,841,51,99,14,16,16,16,0.0,54,\N,\N,29,7,1:41.675,196.65,11
24956,24962,1047,849,3,6,18,17,17,17,0.0,54,\N,\N,49,16,1:42.497,195.073,11
24957,24963,1047,825,210,20,20,18,18,18,0.0,54,\N,\N,50,13,1:41.999,196.025,11
24958,24964,1047,850,210,51,17,19,19,19,0.0,53,\N,\N,50,8,1:41.707,196.588,12
24959,24965,1047,815,211,11,19,\N,R,20,0.0,8,\N,\N,6,19,1:43.263,193.625,7

In [ ]:
results[["driverId","points"]].groupby("driverId").sum()